.footer__container {
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer__wrapper {
    width: 80%;
    max-width: 1920px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
}

.footer__desc-text {
    margin: 20px 0;
    width: 40%;
}

.footer__info-text {
    line-height: 35px;
    margin-bottom: 30px;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

.footer__links a {
    display: flex;
    text-decoration: none;
    color: white;
    margin-bottom: 25px;
    align-items: center;
    font-size: 20px;
}

.footer__links svg {
    margin-left: 15px;
    width: 20px;
    height: 20px;
}