.Navbar__Header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  padding: 1rem 2rem;
}
.Navbar__Header-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Navbar__Header-img img {
  width: 100px;
}

.Navbar__Header-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.Navbar__Header-list li {
  color: white;
  margin: 0 1rem;
  cursor: pointer;
}
