.login__container {
    width: 80%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    margin-top: 10rem;
    font-family: var(--font-base);
    padding-bottom: 10rem;
}

.login__text, .login__form  {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.login__form {
    width: 55%;
}

.login__headline {
    font-size: 18px;
    margin-bottom: 3rem;
}

.login__content, .login__form__content {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.login__footer__section {
    display: flex;
    flex-direction: column;
}

.login__footer__section button {
    width: 180px;
    height: 50px;
    margin-top: 2rem;
    background-image: linear-gradient(red, darkred);
    border: none;
    color: white;
    font-weight: bold;
}

.login__form__content {
    background-color: #f4f4f4;
    flex-direction: row;
    padding: 4rem;
    justify-content: space-around;
}

.login__input__section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login__form__content > div {
    width: 45%;
}

.login__input__section input {
    height: 50px;
    width: 100%;
    border: 1px solid #707070;
}

.login__under__input__section__left, .login__under__input__section__right {
    display: flex;
    margin-top: 20px;
}

.login__under__input__section__right {
    justify-content: flex-end;
    align-items: center;
}

.login__under__input__section__left button {
    width: 150px;
    height: 50px;
    border: none;
    background-color: #2b2b2b;
    color: white;
    cursor: pointer;
}