.shop__container {
    display: grid;
    font-family: var(--font-base);
    margin: auto;
    margin-top: 4rem;
    padding-bottom: 3rem;
    grid-template-columns: 15% 70% 15%;
}

.shop__filter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 2rem;
}

.shop__content {
    max-width: 1920px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

.shop__ad {

}

.shop__carLayout {
    width: 20%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px 30px 0;
}

.shop__carLayout img {
    width: 350px;
    height: 160px;
}

.shop__carLayout-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    line-height: 30px;
}

.shop__carLayout-action__wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.shop__carLayout-action__wrapper button {
    background-color: inherit;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.shop__carLayout-action__wrapper a {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
}

.shop__carLayout-action__wrapper a:focus,
.shop__carLayout-action__wrapper a:visited {
    color: black;
}

.shop__carLayout-action__wrapper div {
    display: flex;
    align-items: center;
}