.shop-detail__container {
  width: 80%;
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  margin-top: 4rem;
  font-family: var(--font-base);
  padding-bottom: 5rem;
}

.shop-detail__container input {
  min-width: 300px;
  width: 300px;
}

.shop-detail__section-form {
  width: 100%;
}

.shop-detail__intro-wrapper {
  margin-bottom: 4rem;
}

.shop-detail__intro-wrapper h1 {
  margin-bottom: 15px;
}

.shop-detail__form__inputs-section, 
.shop-detail__form__inputs-section-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-detail__form__inputs-upper__section-first {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.shop-detail__form__inputs-big__section {
  margin-bottom: 20px;
}

.shop-detail__form__inputs-big__section,
.shop-detail__form__inputs-big__section input {
  width: 100%;
}

.shop-detail__form__inputs-big__section input,
.shop-detail__form__inputs-upper__section-first input,
.shop-detail__form__inputs-label__section input {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shop-detail__form__inputs-big__section input::placeholder,
.shop-detail__form__inputs-upper__section-first input::placeholder,
.shop-detail__form__inputs-upper__section-second input::placeholder {
  font-weight: bold;
  color: black;
}

.shop-detail__form__inputs-upper__section-second {
  width: 19%;
  display: flex;
  flex-direction: column;
}

.shop-detail__form__inputs-upper__section-second input {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shop-detail__form__inputs-section-second__input {
  margin-top: 20px;
}

.shop-detail__form__inputs-upper__section-third {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.shop-detail__form__inputs-label__section {
  display: flex;
  flex-direction: column;
}

.rectangular {
  width: 250px;
  height: 140px;
  border-radius: 10px;
  background-image: linear-gradient(red, darkred);
  position: relative;
}

.rectangular-img {
  position: absolute;
  top: 40px;
  right: 40px;
}

.rectangular-img img {
  width: 300px;
  height: 140px;
}

.shop-detail__form__inputs-section-middle {
  display: flex;
  margin-top: 5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.shop-detail__form__inputs-middle__section-first,
.shop-detail__form__inputs-middle__section_third,
.shop-detail__form__inputs-third__section-first,
.shop-detail__form__inputs-third__section-third {
  width: 18%;
}

.shop-detail__form__inputs-section-middle label,
.shop-detail__form__inputs-label__section label {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.shop-detail__form__inputs-label__section input::placeholder {
  color: black;
}

.shop-detail__form__inputs-middle__section_second,
.shop-detail__form__inputs-third__section-second {
  width: 50%;
}

.shop-detail__form__inputs-middle__section_second textarea {
  resize: none;
  font-family: var(--font-base);
  line-height: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  min-width: 600px;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.shop-detail__form__inputs-middle__section_third, 
.shop-detail__form__inputs-middle__section-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-detail__form__price-table {
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-top: 10px;
}

.shop-detail__form__price-table__entry {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.result-entry {
  background-color: rgb(70, 70, 70);
  border-radius: 0 0 10px 10px;
  color: white;
}

.shop-detail__form__inputs-price-text {
  margin-top: 5px;
  line-height: 20px;
  font-size: 11px;
}

.section-name {
  margin-top: 5rem;
  margin-bottom: 20px;
  font-size: 17px;
}

.shop-detail__form__inputs-section__fourth,
.shop-detail__form__inputs-fourth__section__new-damage {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.shop-detail__form__inputs-fourth__section-first {
  width: 14%;
}
.shop-detail__form__inputs-fourth__section-second {
  margin-left: 25px;
  width: 44%;
  align-self: flex-end;
}

.shop-detail__form__inputs-fourth__section__new-damage input::placeholder {
  color: lightgray;
}
.input-icon__wrapper input {
  position: relative;
}

.input-icon__wrapper svg {
  position: absolute;
  top: 5px;
}

.shop-detail__button__section {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
}

.shop-detail__button__section-button {
  width: 200px;
  height: 60px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.shop-detail__form__inputs_dropdowns .select-search:not(:last-child) {
  margin-bottom: 20px;
}
