@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --font-base: 'Sora', sans-serif;
  --font-alt: 'Open Sans', sans-serif;
}

::placeholder {
  font-family: var(--font-base);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
